body {
    background-color: #306d85;
    margin: 0;
    text-align: center;
    
}


h1{
    margin-top: 50px auto 0 auto;
    font-family: "Dancing Script", cursive;
    color: #66bfbf;
}
h2{
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}
h3{
    color:#11999E;
}


.top-container{
    background-color: #e4f9f5;
   position: relative; 
   padding-top: 100px;
   font-size: 2.5rem;
   color: #66bfbf;
    
}
.my-name{
font-size: 5.625rem;
}


h2{
    font-size: 50px;
}

.middle-container{

}

.bottom-container{
    margin-top: 40px;
    
    position:relative;
    padding: 50px o 20px;
    background-color: #66BFBF;

}
 
    
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}


.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;

}

.python-img{
    width: 25%;
    
    float: left;
    margin-right: 30px;
}

.html-img{
    width: 25%;
    
    float: right;
    margin-left: 30px;
}


.hello-description{
    color: #40514E;
}

hr{
    border-top: 10px dotted #EAF6F6 ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 6%;
}
.BUTTON_RLR {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_RLR:hover {
    background: #CFF907;
    border: solid #FFFFFF 5px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
 }